/*tag selectors*/

  body
  { background-color:#D6E4E5;}
  hr{color:grey;
     border-style:none;
     border-top-style:dotted;
     border-color:grey;
     border-top-width:5px;
      height:0px;
       width:5%;}
       h3{color:#497174}
       h2{color:#497174}

/*class selectors*/


       .nisha{background:#F2DEBA;}

/*****id selector*********/
#heading{background-color:#497174}
#tail{background-color:#497174}
